* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    margin-bottom: 16px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}

header {
    color: white;
    background-color: palevioletred;
    height: 80px;
    display: flex;
    flex-basis: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
}

.navbar {
    background-color: lightcoral;
    color: white;
    height: 60px;

}

.navbar .container {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content:flex-end;
    padding-right: 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a:link{
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.navbar a:hover {
    color:darkgrey;
}

.main-body {
    background-color:deepskyblue;
    color: white;
    min-height: 250px;
    height: 100%;
}

.main-body .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-body h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.main-body .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main-body img {
    max-width: 400px;
    max-height: 400px;
}

.boxes .container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}

.box {
    flex: 1;
    color: white;
    background: dimgray;
    margin: 20px 10px;
    padding: 15px 20px;
    box-shadow: 0 3px 5px 0, 0.6;
    border-radius: 10px;
    height: 200px;
}

footer {
    margin-top: auto;
}

footer .footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkmagenta;
}

footer ul {
    color: white;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}